info: Setup network

environment:
  PATH: /sbin:/bin:/usr/sbin:/usr/bin

concurrent:
  - hostname toto
  - ip link set dev eth0 address AA:BB:CC:DD:EE:FF
  - ip link set dev eth0 up
  - ip addr add 192.168.0.118/24 dev eth0
  - ip route add default via 192.168.0.1 dev eth0
  - echo "nameserver 192.168.0.1" > /etc/resolv.conf
